<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hyperscaler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fa58cf66-caaf-4ba9-875d-f310d3694845/resourceGroups/dm-functions/providers/Microsoft.Web/sites/hyperscaler</ResourceId>
    <UserName>$hyperscaler</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://hyperscaler.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>